.SubmitPage {
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


.probootsrap-nav {
  padding-top: .5em;
  margin-top: 0rem;
  margin-bottom: 4rem; }
  @media screen and (max-width: 1003px) {
    .probootsrap-nav {
      text-align: center; } }
  .probootsrap-nav ul {
    margin: 0;
    padding: 0; }
    .probootsrap-nav ul li {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-block; }
      @media screen and (max-width: 480px) {
        .probootsrap-nav ul li {
          display: block; } }
      .probootsrap-nav ul li a {
        padding: .5rem 0rem;
        margin: 0 .5rem;
        display: block;
        color: rgba(0, 0, 0, 0.4);
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: .2em;
        border-bottom: 2px solid transparent; }
        @media screen and (max-width: 1431px) {
          .probootsrap-nav ul li a {
            margin: 0 .2rem; } }
        @media screen and (max-width: 480px) {
          .probootsrap-nav ul li a {
            border-bottom: 2px solid transparent;
            padding: .5rem 0rem; } }
        .probootsrap-nav ul li a:hover {
          color: rgba(0, 0, 0, 0.7); }
      .probootsrap-nav ul li:first-child a {
        margin-left: 0; }
      .probootsrap-nav ul li.active a {
        color: rgba(0, 0, 0, 0.7);
        border-bottom: 2px solid #F96D00; }
        @media screen and (max-width: 480px) {
          .probootsrap-nav ul li.active a {
            border-bottom: 2px solid transparent; } }




.SubmitPage-logo {
  animation: SubmitPage-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.SubmitPage-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.SubmitPage-link {
  color: #61dafb;
}

@keyframes SubmitPage-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.dragDiv {
  max-width:70%;
  margin: auto;
  border: 3px solid #73AD21;
}

